* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
.carousel.carousel-slider {
  overflow: visible;
}
.glide {
  overflow: hidden;
}
.card {
  color: white;

  background-color: transparent;
  overflow: hidden;
}

.title {
  color: white;
}
.tile.is-parent {
  padding: 0;
  .box {
    border-radius: 0;
  }
}
body {
  color: white;
  background-color: #2c2a2b;
  font-family: Orator;
}
html {
  min-width: 0px;
  height: 100%;
  background-color: #2c2a2b;
}
@font-face {
  font-family: "Orator";
  src: url("./fonts/orator.otf") format("opentype");
}

.inactive {
  display: none;
}

.hidden {
  display: none;
}
@media (max-width: 650px) {
  .inactive {
    display: block;
  }
}
@media (min-width: 650px) {
  .scroll-container {
    max-height: 100vh;
    overflow: hidden;
  }
}
.scroll-container {
  display: flex;

  overflow: hidden;
  justify-content: center;
  height: 100vh;
  @media (max-width: 650px) {
    overflow-y: auto;
  }
}
